
<style>
    table {
        table-layout:fixed;
        border-collapse:collapse;
        width: 100%;
    }

    th {
        text-align:center;
    }

    td {
        width: 25%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }

    .input{
    margin-top: 5px;
}

</style>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Media</th>
        <th colspan="2" style="text-align:center;">Actions</th>
        <th>Date of publication</th>
    </tr>
  
        <tr>
            <td ></td> @*name*@
            <td></td> @*description*@
            <td>        
                    <img height="50px">   
                    <video>
                        <source src="" type="audio/mp4" poster=""/>   @*video and picture*@
                    </video>
                 <form>
                     <input class="input" type="submit" value="Show all pictures and videos" />
                 </form>
            </td>
            <td>
                <form>
                    <input type="submit" value="Edit" /> @*edit*@
                </form>
            </td>
            <td>
                <form>
                    <input type="submit" value="Delete" /> @*delete*@
                </form>
            </td>
            <td></td> @*date*@
        </tr>

    }
</table>

<form>
    <input type="submit" value="Create achieve" /> @*creating*@
</form>