* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modal__name {
    padding-right: 25px;
    font-size: 25px;
    padding-bottom: 13px;
}
.modal__create {
    width: 113px;
    height: 37px;
    font-size: 21px;
    border: 0.1px solid black;
    border-radius: 7px;
    text-align: center;
    background-color: lightgray;
}
.modal-tittle {
    font-size: 30px;
}
.modal-content {
    border-radius: 7px;
}
.fc .fc-col-header-cell-cushion {
    text-decoration: none;
    color: black;
}
.fc .fc-daygrid-day-number {
    color: black;
    text-decoration-line: none;
}
.edit__edit {
    width: 113px;
    height: 37px;
    font-size: 21px;
    border: 0.1px solid black;
    border-radius: 7px;
    text-align: center;
    background-color: lightgray;
    margin-top: 13px;
    margin-bottom: 13px;
}
.edit__name {
    padding-right: 25px;
    font-size: 25px;
}
.edit__del {
    width: 113px;
    height: 37px;
    font-size: 21px;
    border: 0.1px solid black;
    border-radius: 7px;
    text-align: center;
    background-color: lightgray;
}