*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.login__password{
    padding-top:15px;
}
.login__rememberme__row{
    display:flex;
}
.login__rememberme{
    padding-top:10px;
    padding-right:5px;
}
.login__signin {
    width: 64px;
    height: 26px;
    font-size: 16px;
    border: 0.1px solid black;
    border-radius: 4px;
    text-align: center;
    background: none;
    margin-top: 15px;
    margin-right: 6px;
    margin-bottom:15px;
}
.reg__signin {
    width: 124px;
    height: 25px;
    font-size: 16px;
    border: 0.1px solid black;
    border-radius: 4px;
    text-align: center;
    background: none;
}
.buttons__row{
    display:flex;
}
#RememberMe{
    margin-top:15px
}