@model DateTime

<h2>Create news</h2>
<form method="post" asp-action="CreateNews" asp-controller="News" asp-route-dateOfPublication="@DateTime.Now" enctype="multipart/form-data">
    <label for="news-name">News name:</label><br />
    <input class="input" id="news-name" type="text" name="newsName" /><br />

    <label for="news-description">News description:</label><br />
    <textarea class="input" id="news-description" type="text" name="newsDescription"></textarea><br />

    <label class="pic"  for="news-pictures">News pictures</label><br />

    <input class="input" type="file" multiple name="uploadedFiles" value="Choose pictures" /><br />

    <input class="input" type="submit" value="Create" />
</form>

<form asp-action="Index" asp-controller="News" method="get">
    <input type="submit" value="Back" />
</form>

<style>
.input{
    margin-bottom: 10px;
}

.pic{
    padding-bottom: 5px;
}
</style>