@model News

<h2>Edit the news</h2>
<form method="post" asp-controller="News" asp-action="EditNews" asp-route-newsId="@Model.Id">
    <label for="news-name">News name: </label><br />
    <input id="news-name" type="text" value="@Model.Name" name="newsName" /><br />
    <label for="news-description">News description: </label><br />
    <input id="news-description" type="text" value="@Model.Description" name="newsDescription" /><br />
    <input type="submit" value="Save changes" />
</form>