<h2>Edit the achievement</h2>
<form>
    <label>Achievement name: </label><br />
    <input class="input" type="text"/><br />

    <label >Achievement description: </label><br />
      <textarea class="input" type="text"></textarea><br />

    <input class="input" type="submit" value="Save changes" />
</form>

<form>
    <input type="submit" value="Back" />
</form>


<style>
.input{
    margin-bottom: 10px;
}

.pic{
    padding-bottom: 5px;
}
</style>