@using AdminPanel.ViewModels;
@model ChangePasswordViewModel;

<h2>Password change</h2>

<form method="post" asp-action="ChangePassword" asp-controller="Account">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email">

    <label>Old Password</label>
    <input type="text" asp-for="OldPassword" /><br>
    <label>New Password</label>
    <input type="text" asp-for="NewPassword" /><br>

    <input type="submit" value="Save changes">
</form>