@model List<User>

<table class="table">
    <tr>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    @foreach(var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <form method="post" asp-action="Delete" asp-controller="Account" asp-route-id="@user.Id">
                    <button class="btn btn sm btn-danger" type="submit">Delete</button>
                    <a class="btn btn sm btn-primary" method="get" asp-action="ChangePassword" asp-controller="Account" asp-route-id="@user.Id">Change password</a>
                </form>
            </td>
        </tr>
    }
</table>