.media__files {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.media__file {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.media__file form {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.input {
    margin-bottom: 10px;
}
.vibor__update {
    width: 123px;
    height: 26px;
    font-size: 16px;
    border: 0.1px solid black;
    border-radius: 4px;
    text-align: center;
    background: none;
    margin-bottom: 10px;
    margin-top:5px;
}
.add__update {
    width: 50px;
    height: 26px;
    font-size: 16px;
    border: 0.1px solid black;
    border-radius: 4px;
    text-align: center;
    background: none;
    margin-bottom: 10px;
}
.back__update {
    width: 55px;
    height: 26px;
    font-size: 16px;
    border: 0.1px solid black;
    border-radius: 4px;
    text-align: center;
    background: none;
}